:root {
    --background-color: #ffffff;
    --sub-color: #595959;
}
html {
    font-size: 1rem;
    font-family: 'Noto Sans JP', 'BIZ UDGothic', 'メイリオ', 'Meiryo', 'Meiryo UI', sans-serif;
    color: #333333;
    line-height: 1.5;
    background-color: var(--background-color);
    accent-color: #0075ff;
}
body {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3rem;
}
button, input, textarea, select, dialog {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}
button {
    cursor: pointer;
    background: none;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    padding: 7px 12px;
    --border-color: #2f5a80;
    --hover-color: #e0f0ff;
}
button:hover {
    background-color: var(--hover-color);
}
button:focus-visible {
    background-color: var(--hover-color);
}
button:disabled {
    color: #5c5c5c;
    border-color: rgb(from var(--border-color) r g b / 0.8);
    cursor: default;
}
button:disabled:hover {
    background: none;
}
input, select, textarea {
    border: 1px solid #666666;
    border-radius: 2px;
    background-color: var(--background-color);
}
input[type="text"] {
    width: 10rem;
}
dialog {
    border-radius: 7px;
    min-width: 40vw;
    overscroll-behavior: contain;
    max-width: 80vw;
    max-height: 90vh;
    background-color: var(--background-color);
    border-color: #666666;
}
details {
    margin-top: 20px;
    margin-bottom: 20px;
}
details > summary {
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 5px;
}
table {
    border-collapse: collapse;
}
.form-submit {
    text-align: right;
}

.gray {
    color: var(--sub-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --sub-color: #c1c1c1;
    }

    html {
        color: #eeeeee;
        accent-color: #99c8ff;
    }

    button {
        --border-color: #274d6f;
        --hover-color: #434b54;
    }
    button:disabled {
        color: #a3a3a3;
    }
    input, select, textarea {
        border: 1px solid #999999;
        border-radius: 2px;
    }
    dialog {
        border-color: #999999;
    }
}