header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#load {
    font-size: 0.9rem;
    color: #595959;
}

h2 {
    font-size: 1.9rem;
    font-weight: normal;
}

#date span {
    font-size: 1.5rem;
}

#toolbar {
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: space-around;
    max-width: 25rem;
}
#today {
    --border-color: #54802f;
    --hover-color: #dcffbf;
}