#schedule-edit fieldset {
    border: none;
}

#schedule-edit fieldset legend {
    font-size: 0.9rem;
    color: var(--sub-color);
}

#schedule-edit input, #schedule-edit select {
    margin-right: 1rem;
}

#schedule-edit label {
    white-space: nowrap;
}

#schedule-edit input[type="number"] {
    width: 3em;
}