#schedule-edit-dialog-close, #contents-edit-dialog-close {
    --border-color: #ffa6b6;
    --hover-color: #fff3f5;
}

#schedule-edit-dialog form div, #contents-edit-dialog form div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#schedule-edit-dialog form div.description, #contents-edit-dialog form div.description {
    margin-top: 0.2rem;
    font-size: 0.9rem;
}

#schedule-edit-dialog form button:not([type="submit"]), #contents-edit-dialog form button:not([type="submit"]) {
    margin-left: 0.2rem;
    padding: 5px 9px;
}

#schedule-edit-dialog form button[type="submit"], #contents-edit-dialog form button[type="submit"] {
    --border-color: #c5c500;
    --hover-color: #ffffd6;
}

#contents-edit-dialog form select {
    max-width: min(90%, 20rem);
}

#contents-edit-dialog form textarea {
    display: block;
    resize: none;
    width: 90%;
    height: 4rem;
}