#menu-dialog-close {
    --border-color: #ffa6b6;
    --hover-color: #fff3f5;
}

#menu > ul {
    padding-left: 0;
}
#menu > ul > li > ul {
    padding-left: 1rem;
}
#menu > ul li {
    list-style: none;
}
#menu li button, #menu li a {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    padding: 7px 12px;
    --border-color: #2f5a80;
    --hover-color: #e0f0ff;
    text-decoration: none;
    color: inherit;
    margin: 0.4rem 0;
}
#menu li button:hover, #menu li a:hover {
    background-color: var(--hover-color);
}
#menu li button:focus-visible, #menu li a:focus-visible {
    background-color: var(--hover-color);
}
#menu li button:disabled, #menu li a:disabled {
    color: #5c5c5c;
    border-color: rgb(from var(--border-color) r g b / 0.8);
    cursor: default;
}
#menu li button:disabled:hover, #menu li a:disabled:hover {
    background: none;
}

#sync-menu-container {
    font-size: 0.8rem;
}

@media (prefers-color-scheme: dark) {
    #menu-dialog-close {
        --border-color: #6e434b;
        --hover-color: #484344;
    }

    #menu li button, #menu li a {
        --border-color: #274d6f;
        --hover-color: #434b54;
    }
}