body {
    margin-top: 0;
}
header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#back-link {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    padding: 4px 6px;
    --border-color: #ffa6b6;
    --hover-color: #fff3f5;
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
    position: relative;
    bottom: 0.3rem;
}
#back-link:hover {
    background-color: var(--hover-color);
}
#back-link:focus-visible {
    background-color: var(--hover-color);
}
h1 {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-size: 1.9rem;
    display: inline-block;
}
#load {
    font-size: 0.9rem;
    color: var(--sub-color);
}

@media (prefers-color-scheme: dark) {
    #back-link {
        --border-color: #6e434b;
        --hover-color: #484344;
    }
}